body{
    margin: 30px auto 30px auto;
    width: 700px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #2D3142; 
    background-color:#4F5D75;
}
h1, h2{
    color: #EF8354;
    font-weight: bold;
}
b{
    color: #4F5D75;
}
ol{
    text-align: left;
}
.box{
    padding: 10px;
    background-color: white;
    border: 1px solid #BFC0C0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.bye{
    padding: 5px;
    background-color: rgb(226, 226, 226);
    font-style: italic;
}
a{
    font-weight: bold;
    color: #4F5D75;
    text-decoration: none;
    font-style: normal;
}
a:hover{
    color: #EF8354;
}
p{
    text-align: left;
}
nav{
    background-color: rgb(226, 226, 226);
    padding: 0.5px;
}
ul li{
    display: inline;
    width: 600px;
}
.noBullet{
    list-style: square;
}
.answer{
    color:#EF8354;
    font-weight: bold;
    padding-left: 0;
}